@import "./_fonts"
@import "./_icones"
@import "./_variables"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"

body
    margin: 0px
    h2
        text-transform: uppercase
        font-weight: bolder
        font-size: xx-large
        color: #484848
    h3
        text-transform: uppercase
        font-size: large
        font-weight: 100
        color: #aaaaaa
    p
        font-size: small
        color: #8c8b8b
    .row
        --bs-gutter-x: 0
    .container
        width: 80%
    button
            border: none
            border-radius: 2px
            text-transform: uppercase
            font-size: x-small
            padding: 2% 6%

header
    color: white
    background: linear-gradient(rgba(38, 38, 58, 0.7),rgba(39, 38, 48, 0.6)), url("../img/banner.jpg")
    background-position: 15% 10% 
    padding-bottom: 20%
    .banner
        padding-top: 10%
        p
            font-weight: 100
            text-transform: uppercase

#Card
    background-color: #f6f6f6
    p
        font-weight: bold
        text-transform: uppercase
        color: #484848

#Grid
    line-height: 150%
    h4
        color: #484848
        text-transform: uppercase
        font-size: small
        font-weight: bold
    h5
        color: #aaaaaa
        text-transform: uppercase
        font-size: x-small
    .right
        text-align: right
    .avatar
        border-radius: 50%
        border: 8px solid lightgrey

#Endpage
    h2, p
        color: white
        text-transform: uppercase
    p
        font-weight: 100
        font-size: large
        opacity: 0.5
    button
        font-size: medium
        padding: 1% 4%
    background: linear-gradient(rgba(38, 38, 58, 0.7),rgba(39, 38, 48, 0.6)), url("../img/banner.jpg")
    background-position: 15% 50% 

footer
    color: #aaaaaa
    p
        font-size: x-small

@media screen and (min-width:0px) and (max-width:767px)
  footer
    .border-end
        border: 0 solid !important







