@import "./_fonts"
@import "./_icones"
@import "./_variables"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
body
    margin: 0px
header
    color: white
    background: linear-gradient(rgba(38, 38, 58, 0.7),rgba(39, 38, 48, 0.6)), url("../img/banner.jpg")
    background-position: 15% 10% 
    padding-bottom: 20%
    .banner
        padding-top: 10%
        p
            font-weight: 100
            text-transform: uppercase
        button
            border: none
            border-radius: 2px
            font-size: x-small
            padding: 2% 6%




